<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- redirection des logs vers la sortie Console Standard -->
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- redirection vers un fichier -->
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>debug.log</file>
		<append>true</append>
		<immediateFlush>true</immediateFlush>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>

	<!-- politique de log pour les classes du package ... -->
	<logger name="fr.diginamic.demo_jdbc" level="WARN">
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="fr.diginamic.demo_jdbc" level="INFO" additivity="false">
		<appender-ref ref="CONSOLE" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>